@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-Bold.woff2') format('woff2'),
         url('SourceCodePro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url('SourceCodePro-BoldIt.woff2') format('woff2'),
         url('SourceCodePro-BoldIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

